body {
	padding-left: 15px;
	background-color: #000000;
}

div#dspLista {
	padding-left: 10px;
}

button.btn {
	margin-left: 2px;
	margin-right: 2px;
}

.coluna {
	text-align: center;

	margin-top: 5px;
}

label.checkbox-inline {
	color: white;
}

.areaBt {
	width: auto;

	border-width: 1px;
	border-style: solid;
	border-color: #A5A5A5;
	border-radius: 2px;

	padding-top: 10px;
	padding-bottom: 10px;

	margin-bottom: 10px;
}

div.areaBt h1 {
	font-size: 20px;

	padding-top: 0px;
	margin-top: 0px;

	color: #3B3B3BFF;
}
